.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  justify-content: center;
  gap: 15px;
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
