$design-tokens: (
  // Animation
  animation-duration: 0.25s,
  // Colors
  color-indigo: #727ff3,
  color-deep-purple-1: #ede0ff,
  color-deep-purple-2: #d7bdff,
  color-deep-purple-3: #be87fd,
  color-deep-purple-4: #ae6cf9,
  color-deep-purple-5: #9d55fc,
  color-deep-purple-6: #942dfb,
  color-deep-purple-7: #7c14d7,
  color-deep-purple-8: #561490,
  color-deep-purple: #ae6cf9,
  color-purple-1: #ffe0ff,
  color-purple-2: #f5baf5,
  color-purple-3: #df74e7,
  color-purple-4: #da4ee4,
  color-purple-5: #d537e6,
  color-purple-6: #c61ecc,
  color-purple-7: #af1dab,
  color-purple-8: #6f1f6a,
  color-purple: #d537e6,
  color-pink: #f4528e,
  color-white: #ffffff,
  color-black: #000000,
  color-error: #ffadad,
  color-opacity-000: 0,
  color-opacity-100: 0.04,
  color-opacity-200: 0.08,
  color-opacity-300: 0.16,
  color-opacity-400: 0.24,
  color-opacity-500: 0.32,
  color-opacity-600: 0.48,
  color-opacity-700: 0.64,
  color-opacity-800: 0.8,
  color-light-0: rgba(255, 255, 255, 0),
  color-light-1: rgba(255, 255, 255, 0.04),
  color-light-2: rgba(255, 255, 255, 0.08),
  color-light-3: rgba(255, 255, 255, 0.16),
  color-light-4: rgba(255, 255, 255, 0.24),
  color-light-5: rgba(255, 255, 255, 0.32),
  color-light-6: rgba(255, 255, 255, 0.48),
  color-light-7: rgba(255, 255, 255, 0.64),
  color-light-8: rgba(255, 255, 255, 0.8),
  color-dark-0: rgba(0, 0, 0, 0),
  color-dark-1: rgba(0, 0, 0, 0.04),
  color-dark-2: rgba(0, 0, 0, 0.08),
  color-dark-3: rgba(0, 0, 0, 0.16),
  color-dark-4: rgba(0, 0, 0, 0.24),
  color-dark-5: rgba(0, 0, 0, 0.32),
  color-dark-6: rgba(0, 0, 0, 0.48),
  color-dark-7: rgba(0, 0, 0, 0.64),
  color-dark-8: rgba(0, 0, 0, 0.8),
  // Spacing
  spacing-xxxs: to-rem(4px),
  spacing-xxs: to-rem(8px),
  spacing-xs: to-rem(12px),
  spacing-sm: to-rem(16px),
  spacing-md: to-rem(24px),
  spacing-lg: to-rem(32px),
  spacing-xl: to-rem(48px),
  spacing-xxl: to-rem(64px),
  spacing-xxxl: to-rem(96px),
  // Border radius
  border-radius-sm: to-rem(2px),
  border-radius-md: to-rem(4px),
  border-radius-lg: to-rem(8px),
  border-radius-pill: to-rem(9999px),
  border-radius-circle: 50%
);
