@import "~@/styles/functions.scss";
.button {
  min-width: rem(64px);
  border-radius: rem(4px);
  margin: rem(5px);

  word-wrap: break-word;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    :hover {
      background-color: none !important;
    }
  }

  &.sm {
    padding: rem(4px) rem(20px);
    max-width: rem(150px);
  }

  &.md {
    padding: rem(12px) rem(24px);
    max-width: rem(200px);
  }
  &.lg {
    padding: rem(16px) rem(28px);
    max-width: none;
  }

  &.full {
    padding: rem(16px) rem(28px);
    max-width: none;
    width: 100%;
  }

  &.primary {
    background-color: color(deep-purple-6);
    color: color(white);
    font-weight: 300;
    transition: background-color 0.2s ease-in-out;

    &:hover:not([disabled]) {
      background-color: color(deep-purple-7);
    }
  }

  &.secondary {
    border: 1px solid color(deep-purple-7);
    background-color: color(white);
    border-radius: rem(4px);
    color: color(deep-purple-7);
    font-weight: 400;
    transition: background-color 0.2s ease-in-out;

    &:hover:not([disabled]) {
      background-color: color(deep-purple-7);
      color: color(white);
    }
  }
  &.rounded {
    border-radius: rem(24px);
    background-color: color(deep-purple-7);
    color: color(white);
  }
}
