.wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem;
  }

  .postList {
    min-height: 80vh;
  }
}
